/* Common */

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;

    font-family: 'Montserrat', sans-serif;
    font-size: 24px; /*размер шрифта */
    line-height: 1.6;
    color: #000000;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro*/
.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    background: url("../images/background.png") center no-repeat;
    -webkit-background-size: cover;
}

.intro_title {
    font-size: 100px;
    font-weight: 140;
    text-align: center;
    color: #59CA31;
    font-family: 'Moon Dance', cursive;

    padding-top: 100px;
}

/* Header*/
.header {
    width: 100%;
    padding-top: 30px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

/* nav */
.nav {
    font-size: 24px;
}

.nav_link {
    dislay: inline-block;
    vertical-align: top;
    margin: 0 80px;
    position: relative;

    color: #000000;
    text-decoration: none;

    transition: color .2s linear; /*чтобы цвет плавно менялся, при нажатии на кнопку*/
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;

    background-color: #59CA31;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav_link:hover {
    color: #59CA31;
}

.nav_link:hover:after {
    opacity: 1;
    display: block;
}

.button {
    background: black;
    width: 200px;
    height: 50px;
    /*left: 140px;*/
    top: 635px;
    border-radius: 80px;
    font-weight: 500;
    font-size: 20px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 42px;
    transition: background-color 0.3s ease 0s;
    align-self: end;
}

/*button*/
.btn {
    background: black;
    width: 373px;
    height: 80px;
    /* left: 140px; */
    top: 635px;
    border-radius: 80px;
    font-weight: 500;
    font-size: 20px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 42px;
    transition: background-color 0.3s ease 0s;
    align-self: end;
}

.btn:hover {
    background-color: #343c44;
    cursor: pointer;
}

/*main page*/
.container_main {
}

.main_text {
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    width: 728px;
    height: 244px;
    /* left: 140px; */
    top: 260px;
    padding-top: 142px;
}

.fon {
    position: absolute;
    width: 1137px;
    height: 995px;
    /* left: 909px; */
    top: 0px;
    background: url("../images/right.png");
    -webkit-background-size: cover;
}

/*Form*/

.container_form {
    width: 1200px;
    margin: 0 auto;
}

h4 {
    text-transform: uppercase;
}

.form {
    margin: 300px auto;
    width: 450px;
    padding: 30px;
    color: #59CA31;
    text-align: center;
    background-color: #52ff8a;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="submit"] {
    background: none;
    color: green;
    font-size: 16px;
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 250px;
    border: 2px solid mediumseagreen;
    outline: none;
    transition: .3s;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
    width: 300px;
    border-color: green;
}

.form input[type="text"]::placeholder,
.form input[type="password"]::placeholder {
    color: green;
}

.form input[type="submit"]:hover {
    border-color: green;
    background: green;
    color: #59CA31;
    cursor: pointer;
}

/*admin page*/
.title{
    font-size: 80px;
    font-weight: 50;
    text-align: center;
    color: #59CA31;
    font-family: 'Moon Dance', cursive;

    padding-top: 142px;
}

/*page-2*/
.table{
    margin-top: 100px;
    align-items: center;
    border-collapse: collapse;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    background: url("../images/background.png");
    -webkit-background-size: cover;
    color: #59CA31;
}
caption {
    font-family: 'Montserrat', cursive;
    font-weight: bold;
    font-size: 2em;
    padding: 10px;
    align-items: center;
    color: #59CA31;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);

}
caption:before, caption:after {
    content: "\274B";
    color: #A9E2CC;
    margin: 0 10px;
}
th {
    padding: 10px;
    border: 1px solid #A9E2CC;
}
td {
    font-size: 0.8em;
    padding: 5px 7px;
    border: 1px solid #A9E2CC;
}
.first {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}